<div class="empty">
  <div class="empty__emoji" role="img" aria-label="A tense emoji">
    {{ random([
      '(・.・;)',
      '(・_・;)',
      '(._.)',
      '(￣□￣;)',
      '（　ﾟДﾟ）',
      '(ﾟдﾟ)',
      '＼(°ロ＼)',
      '(ーー゛)'
    ]) }}
  </div>

  <div class="empty__text">
    {{ 'content.empty'|trans }}
  </div>
</div>