{% extends 'base.html.twig' %}

{% block title %}{{ 'reset_password.title'|trans }}{% endblock %}

{% block body %}
  <h1 class="page-heading">{{ block('title') }}</h1>

  {{ include('user/_form.html.twig', { editing: true, form: form }, with_context=false) }}
{% endblock %}

