{% extends 'base.html.twig' %}

{% block site_nav_active 'places' %}
{% block site_nav_main_menu_active 'wiki' %}

{% block title %}
  {{ 'wiki.create_title'|trans({'%path%': path}) }}
{% endblock %}

{% block body %}
  <h1 class="page-heading">{{ block('title') }}</h1>

  {% include 'wiki/_form.html.twig' with {form: form} only %}
{% endblock %}
